<div
  style="
    background-color: rgba(59, 130, 246, 0.11);
    box-sizing: border-box;
    font-family: 'helvetica neue', 'helvetica', 'arial', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    height: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
  "
>
  <div style='margin: 0 auto 0 auto; max-width: 600px; padding: 20px'>
    <div
      style='background-color: #ffffff; overflow: hidden; padding: 12px 25px 12px 25px'
    >
      <h1
        style='
          font-size: 32px;
          font-weight: 500;
          line-height: inherit;
          margin: 0;
          padding: 10px 0 10px 0;
          text-decoration: none;
        '
      >
        Здравствуйте
      </h1>

      <p
        style='
          font-size: 16px;
          font-weight: inherit;
          line-height: 24px;
          margin: 0;
          padding: 10px 0 10px 0;
          text-decoration: none;
        '
      >
        Для завершения регистрации осталось только подтвердить вашу почту.
      </p>

      <div style='padding: 12px 0 12px 0'>
        <a
          href='{{url}}'
          rel='noopener noreferrer'
          target='_blank'
          style='
            background-color: #4f81e1;
            border-radius: 4px;
            box-sizing: border-box;
            color: #ffffff;
            display: block;
            float: left;
            font-size: 15px;
            font-weight: inherit;
            line-height: inherit;
            margin: 0 10px 0 0;
            padding: 10px 25px 10px 25px;
            text-decoration: none;
          '
        >
          Подтвердить
        </a>
      </div>
    </div>
  </div>
</div>
